﻿@model Utilidades.Formularios.FormModel

@for (int i = 1; i < Model.Imputs.Count; i += 2)
{

    var imput1 = i;
    var imput2 = i+1;
    
    <div class="row">
        @if (@Model.Imputs[imput1].Tipo == "enum")
        {
            <div class="form-group">
                <div class="col-md-2">
                    <label for="exampleFormControlSelect1" class="text-right">@Model.Imputs[imput1].Name</label>
                </div>
                <div class="col-md-2">
                    <select class="form-control col-md-4" name="exampleFormControlSelect1">
                        @for (int x = 0; x < @Model.Imputs[imput1].Lista.Count; x++)
                    {
                            <option value="@Model.Imputs[imput1].Lista[x].Text">@Model.Imputs[imput1].Lista[x].Text</option>
                        }
                    </select>
                </div>
            </div>

        }
        else if (@Model.Imputs[imput1].Tipo == "range")
        {
            <div class="form-group">
                <div class="col-md-2">
                    <label for="colFormLabelSm" class="col-md-2 col-form-label col-form-label-sm text-right">@Model.Imputs[imput1].Name</label>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="@Model.Imputs[imput1].Name+inicio" value="@Model.Imputs[imput1].Value">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control " name="@Model.Imputs[imput1].Name+fin" value="@Model.Imputs[imput1].Value">
                </div>
             </div >
        }
        else
        {
            <div class="form-group">
                <div class="col-md-2">
                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm text-right">@Model.Imputs[imput1].Name</label>

                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control " name="@Model.Imputs[imput1].Name" value="@Model.Imputs[imput1].Value">
                </div>
            </div>
         }



                    @if (imput2 < Model.Imputs.Count)
                    {
                        if (@Model.Imputs[imput2].Tipo == "enum")
                        {
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="exampleFormControlSelect1" class="text-right">@Model.Imputs[imput2].Name</label>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control col-md-4" name="@Model.Imputs[imput2].Name">
                                        @for (int x = 0; x < @Model.Imputs[imput2].Lista.Count; x++)
                                        {
                                            <option value="@Model.Imputs[imput2].Lista[x].Text">@Model.Imputs[imput2].Lista[x].Text</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        }
                        else if (@Model.Imputs[imput2].Tipo == "range")
                        {
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="colFormLabelSm" class="col-md-2 col-form-label col-form-label-sm text-right">@Model.Imputs[imput2].Name</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="@Model.Imputs[imput2].Name+inicio" value="@Model.Imputs[imput2].Value">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control " name="@Model.Imputs[imput2].Name+fin" value="@Model.Imputs[imput2].Value">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="colFormLabelSm" class="col-form-label col-form-label-sm text-right">@Model.Imputs[imput2].Name</label>

                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control " name="@Model.Imputs[imput2].Name" value="@Model.Imputs[imput2].Value">
                                </div>
                            </div>
                        }

                    }
                </div>

        }
<button type="submit" class="btn btn-primary col text-center">Filtrar</button>

<script type="text/javascript">

    var isOculto = false;

    function ocultarFiltro() {
        if (isOculto){
            $(".form-filtrar").show();
            $(".boton-mostrar-filtros").html("Ocultar");
            
        } else {
            $(".form-filtrar").hide();
            $(".boton-mostrar-filtros").html("Mostrar");
        }
        isOculto = !isOculto;
    }    
</script>
