﻿@model DAL.modelos.ArtistaPelicula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArtistaPelicula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artista.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artista.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pelicula.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pelicula.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puesto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
