﻿@model  VideoclubMVC.Models.FiltroArtista
@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc; 
@using PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Index</h2>
<div>
    <h2>Filtro</h2>
    <button class="btn btn-primary boton-mostrar-filtros" onclick="ocultarFiltro();">Mostrar</button>
    <div class="form-filtrar">
        @using (Html.BeginForm("Filtrar", "Artistas", FormMethod.Post))
        {
            <div class="form-horizontal">
                <hr />
                <!-- Carga los Inputs de los forms-->
                @Html.Partial("_FormFiltro", Model.FormModel)
            </div>
        }
    </div>

</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @for (int i = 1; i < Model.FormModel.claves.Count; i++)
        {
            <th>
                @Model.FormModel.claves[i]
            </th>
        }
        <th></th>
    </tr>
    
@foreach (var item in ViewBag.OnePageOfProducts) {
    <tr>
        <td>
            
            @item.Nombre
        </td>
        <td>
            @item.Apellidos
        </td>
        <td>
           @item.FechaNacimiento
        </td>
        <td>
            @item.FechaFallecimiento
        </td>
        <td>
            @item.Nacionalidad
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page, elements = ViewBag.NumeroElementos }))

<select id="TypeOfUser" name="typeOfUser" value="Num Elementos"class="active text-normal"
        onchange="doIt(this,'@Url.Action("Index", "Artistas")')">
    <option value="@ViewBag.NumeroElementos">@ViewBag.NumeroElementos</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
</select>

<script>
    function doIt(item, baseUrl) {
        if (item.value != "") {
            window.location.href = baseUrl + '?page=1&elements=' + item.value + '';
        }
        
    }
</script>