﻿@model  VideoclubMVC.Models.FiltroPelicula

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <h2>Filtro</h2>
    <button class="btn btn-primary boton-mostrar-filtros" onclick="ocultarFiltro();">Mostrar</button>
    <div class="form-filtrar">
        @using (Html.BeginForm("Filtrar", "Peliculas", FormMethod.Post))
        {
            <div class="form-horizontal">
                <hr/>
                <!-- Carga los Inputs de los forms-->
                @Html.Partial("_FormFiltro", Model.FormModel)
            </div>
        }
    </div>
   
    </div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @for (int i = 1; i < Model.FormModel.claves.Count; i++)
        {
            <th>
                @Model.FormModel.claves[i]
            </th>
        }
        <th></th>
    </tr>

@foreach (var item in Model.Peliculas) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEstreno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sinopsios)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPelicula }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPelicula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPelicula })
        </td>
    </tr>
}

</table>
